<a href="https://colab.research.google.com/github/lmu-cmsi1010-fall2021/lab-notebook-originals/blob/main/FunctionsIntroduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Review of Conditional Statements

Find the errors. There may be multiple errors per code cell.

In [ ]:
if True:
print("true statement")

In [ ]:
if a and b in "bananas":
print("bananas!")

In [ ]:
i = 0

if i < 1
    print('i is less than 1')
elif i < 10
    print('i is less than 10')

In [ ]:
a = if

a "a" in "banana":
print("bananas!")

In [ ]:
if naan in banana:
    ... # do nothing
else:
    message = "I like banana bread."
    
print(message)

In [ ]:
card1 = 11
card2 = 11

total = card1 + card2

if 12 <= total < 21:
    print("hold")
if total == 21:
    print("blackjack!)
if card1 and card2 == 11:
    print('split')
else:
          print("hit")

---
## Functions

### Calling Functions

We've seen these before! Call a function by its name and pass it arguments.

In [ ]:
int('1911')

In [ ]:
int(1911.999)

In [ ]:
float(1911)

In [ ]:
float('1911.999')

In [ ]:
str(1911)

In [ ]:
str(1911.999)

In [ ]:
type(int('1911'))

In [ ]:
print(type(int('1911')))

In [ ]:
max(1911,1191)

In [ ]:
# we haven't imported the math module, containing sqrt() yet
sqrt(2)/2

In [ ]:
import math
math.sqrt(2)/2

In [ ]:
from math import sqrt
sqrt(2)/2

Function arguments can also be expressions.

In [ ]:
degrees = 45

# this line is a statement that uses variables and expressions
x = math.sin(degrees / 360.0 * 2 * math.pi)
x

In [ ]:
x = math.exp(math.log(x+1))
x

Almost anywhere you can put a value, you can put an arbitrary expression, with one exception: the left side of an assignment statement has to be a variable name.

In [ ]:
import time
time.time()

In [ ]:
hours = time.time()/3600
days = hours/24
days

***

### Defining New Functions

`def <name>(<arguments>):
    <statements>`

In [ ]:
x = .5
# y = 0
def round(num):
    dec = num - int(num)
    if(dec >= .5):
        x = 1000000000
        return int(num) + 1
    else:
        return int(num)
    
x

In [ ]:
x = round(0.4)

In [ ]:
x

In [ ]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print("I sleep all night and I work all day.")

The syntax for calling the new function is the same as for built-in functions:

In [ ]:
print_lyrics()

Defining a function creates a function object, which has the type function.

In [ ]:
type(print_lyrics)

In [ ]:
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

In [ ]:
repeat_lyrics()

Taken together, we have a program with two function definitions: `print_lyrics` and `repeat_lyrics`. Function definitions get executed just like other statements, but the effect is to create function objects. The statements inside the function do not run until the function is called, and the function definition generates no output...

In [ ]:
# rearrange, restart kernel, see what happens here

def repeat_lyrics():
    print_lyrics()
    print_lyrics()
    
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print("I sleep all night and I work all day.")
    
repeat_lyrics()

**Flow of execution example**

In [ ]:
import time
def lambchop_lyrics():
        print("This is the song that never ends.")
        time.sleep(2)
        print("Yes it goes on and on my friends.")
        time.sleep(2)
        print("Some people started singing it not knowing what it was,")
        time.sleep(4)
        print("And they'll continue singing it forever just because")
        time.sleep(4)

In [ ]:
while True:
    lambchop_lyrics()

**Arguments and parameters**

In [ ]:
def print_twice(iggy):
    print(iggy)
    print(iggy)
    
print_twice("Ignatius") # iggy="Ignatius" within the body of the function
print_twice("Francis") # iggy="Francis" within the body of the function

In [ ]:
print_twice(1911)

In [ ]:
city = "San Francisco "
print_twice(city * 3) # iggy = city * 3

In [ ]:
import math
print_twice(math.sqrt(2)/2)

In [ ]:
def square(x):
    return x * x

In [ ]:
square(3)

In [ ]:
square('3')

In [ ]:
def cat_twice(part1, part2):
    cat = part1 + part2
    print_twice(cat)

In [ ]:
line1 = "I know it is wet and the sun is not sunny, "
line2 = "but we can have lots of good fun that is funny."

cat_twice(line1, line2)

In [ ]:
print(cat)

**Fruitful functions**

In [ ]:
math.sqrt(2)/2

In [ ]:
degrees = 45
x = math.sin(degrees / 360.0 * 2 * math.pi)
y = math.sqrt(2)/2
x-y

**Void functions**

In [ ]:
result = print_twice("It is fun to have fun But you have to know how")

In [ ]:
type(result)

In [ ]:
print()

### Lab time

Write a function called `clock` that accepts one agrugment (a float that is the number of seconds since the UNIX epoch) and prints the time in a clock format.

In [ ]:
# prints the current time in PST
clock(time.time())

In [ ]:
def clock(seconds_since_epoch):
    ...