<a href="https://colab.research.google.com/github/lmu-cmsi1010-fall2021/lab-notebook-originals/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists

For more details on this topic, make sure to read [Think Python](https://greenteapress.com/thinkpython2/thinkpython2.pdf) chapter 10!

A **list** is a sequence of values, of any type. The values are called **elements**.

In [ ]:
# a list of 4 integers
[10, 20, 30, 40]

In [ ]:
# a list of 5 strings
['Pooh', 'Rabbit', 'Piglet', 'Tigger', 'Eeyore']

In [ ]:
# a list containing a string, a float, 
# an integer, (hey!) another list, even a function
randomList = ['Christopher Robin', 2.0, 5, [10, 20], max]

In [ ]:
# a list can be empty
[]

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []

print(cheeses, numbers, empty)

[Python Tutor](http://pythontutor.com/visualize.html#code=cheeses%20%3D%20%5B'Cheddar',%20'Edam',%20'Gouda'%5D%0Anumbers%20%3D%20%5B42,%20123%5D%0Aempty%20%3D%20%5B%5D%0Arandom%20%3D%20%5B'Brie',%202.0,%205,%20%5B10,%2020%5D%5D&cumulative=false&heapPrimitives=nevernest&mode=edit&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false) is a great tool for visualizing lists in diagram form!

***
### `for` loops and lists

As noted before, `for` loops and lists are very strongly associated; run these code blocks to review…

In [ ]:
for i in range(4):
    print("do something")

In [ ]:
for cheese in cheeses:
    print(cheese)

In [ ]:
numbers

In [ ]:
len(numbers)

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    
numbers

In [ ]:
for x in []:
    print('This never happens.')

In [ ]:
# nested lists count as one element
nests = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
len(nests)

In [ ]:
for element in nests:
    print(element)

***
**Mutability**

Mutability refers to the ability to change parts of a value without changing the value overall. Lists are mutable; as seen before, strings are not.

In [ ]:
numbers = [42, 123] # Redefined from earlier for convenience.
numbers[1]

In [ ]:
# We can change a member of `numbers` but the rest of it, as well
# as the value itself, stays the same.
numbers[1] = 5
numbers

In [ ]:
# Compare this to a string.
message = 'some string'
message[1]

In [ ]:
# Note the code looks the same as with numbers, but…
message[1] = 'a'

If we replace all the parts, is it still the same list?

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
quesos = cheeses
print(cheeses, quesos)

cheeses[2] = 'Jack'
cheeses[0] = 'Blue'
cheeses[1] = 'Colby'

print(cheeses)
print(cheeses == quesos)

This is another good one for [PythonTutor](https://pythontutor.com/visualize.html#code=cheeses%20%3D%20%5B'Cheddar',%20'Edam',%20'Gouda'%5D%0Aquesos%20%3D%20cheeses%0Aprint%28cheeses,%20quesos%29%0A%0Acheeses%5B2%5D%20%3D%20'Jack'%0Acheeses%5B0%5D%20%3D%20'Blue'%0Acheeses%5B1%5D%20%3D%20'Colby'%0A%0Aprint%28cheeses%29%0Aprint%28cheeses%20%3D%3D%20quesos%29&cumulative=false&curInstr=8&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)!

In [ ]:
# Compare, again, to strings.
favorite_cheese = 'Brie'
their_favorite_cheese = favorite_cheese

favorite_cheese = 'string'
favorite_cheese == their_favorite_cheese

***
**List operations**

`+` combines two lists.

`*` copies a list the given number of times.

(note the analogous behavior to `+` and `*` with strings)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

In [ ]:
[0] * 4

In [ ]:
[1, 2, 3] * 3

Similarly to strings, lists can also be _sliced_.

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

In [ ]:
t[:4]

In [ ]:
t[3:]

In [ ]:
t[:]

In [ ]:
t[::-1]

In [ ]:
t[1:3] = ['x', 'y']
t

In [ ]:
# Slices make _new_ lists!
print(t)
s = t[1:3]
print(s)

s[0] = 42
print(t, s)

***
**List methods**

Just like strings, lists also have *methods*—functions that are written relative to a specific list.

`append` adds one element to a list.

`extend` adds a *list* to a list.

`sort` sorts a list.

In [ ]:
q = ['a', 'b', 'c']
q.append('d')
q # Mutability!

In [ ]:
r1 = ['a', 'b', 'c']
r2 = ['d', 'e']
r1.extend(r2)
r1

In [ ]:
r2

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

In [ ]:
# Note again how methods look different from functions,
# even though they sometimes "feel" the same.
sort(t) # Makes sense to us, but not to Python!

In [ ]:
# List methods are usually void (return None)
t = t.sort()
t

***
**Functions using lists**

Functions with lists largely fall into three general categories: **reduce**, **map**, and **filter**.

An operation like `sum` or `sum_elements` that combines a sequence of elements into a single value is sometimes called **reduce**:

In [ ]:
def sum_elements(my_list):
    """Returns the sum of numbers in a list"""
    total = 0 # total initialized to 0
    for element in my_list:
        total += element # total accumulates the sum of the elements
    return total

In [ ]:
sum_elements([0, 1, 1])

In [ ]:
nums = [42, 124, 63, 7, 8]
sum_elements(nums)

In [ ]:
# As it turns out, Python has a `sum` function built-in.
sum([0, 1, 1])

In [ ]:
sum(nums)

An operation like `capitalize_all` is sometimes called a **map** because it “maps” a function (in this case the method `capitalize`) onto each of the elements in a sequence:

In [ ]:
def capitalize_all(t):
    res = [] # res is initialized with an empty list
    for s in t:
        res.append(s.capitalize())
    return res

In [ ]:
cheeses = ['cheddar', 'edam', 'gouda']
capitalize_all(cheeses)

In [ ]:
# `capitalize_all` makes a new list, leaving the original untouched.
cheeses

An operation like `only_upper` is called a **filter** because it selects some of the elements and filters out the others:

In [ ]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper(): # True if string contains only upper case letters
            res.append(s)
    return res

In [ ]:
cheeses.extend(['BLUE', 'COLBY', 'Jack'])
cheeses

In [ ]:
only_upper(cheeses)


Most common list operations can be expressed as a combination of **map**, **filter**, and **reduce**.

***
**Deleting elements**

Mutability includes the ability to remove members from the list (while keeping the list itself intact).

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
t

In [ ]:
x

In [ ]:
t = ['a', 'b', 'c']
del t[1]
t

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

In [ ]:
# `pop` takes an index; `remove` takes a value.
t = ['a', 'b', 'c']
removed = t.remove('b')
print(t, removed) # …and doesn't return anything.

# (which makes sense, because you already know what you removed)

In [ ]:
# And if the value appears more than once…
t = ['a', 'b', 'b', 'c']
t.remove('b')
t

In [ ]:
# Finally, if you try to remove a value that isn't there…
t = ['a', 'b', 'c', 'd', 'e', 'f']
t.remove('x')
t

Try these yourself! Instead of giving you prepared links now, just go to https://pythontutor.com directly and type any of these yourself!

***
## List practice!
**Part 1:** Write a function called `is_sorted` that takes a list as an argument and returns True if the list is sorted in ascending order and False otherwise. For example:

- `is_sorted([1, 2, 2])` returns `True`
- `is_sorted(['b', 'a'])` returns `False`

In [ ]:
...

Here are some test cases:

In [ ]:
is_sorted([1, 2, 2]) # should be True

In [ ]:
is_sorted(['b', 'a']) # should be False

**Part 2:** Write a function called `has_duplicates` that takes a list and returns True if there is any element that appears more than once. It should not modify the original list.

In [ ]:
...

Here are some test cases:

In [ ]:
has_duplicates([1, 2, 2]) # should be True

In [ ]:
has_duplicates(['b', 'a']) # should be False

**Part 3:** This part pertains to the so-called Birthday Paradox, which you can read about at http://en.wikipedia.org/wiki/Birthday_paradox.

If there are 23 students in your class, what are the chances that two of you have the same birthday? You can estimate this probability by generating random samples of 23 birthdays and checking for matches. Hint: you can generate random birthdays with the `randint` function in the `random` module.

Try it yourself, or you can download the author's solution from http://thinkpython2.com/code/birthday.py.

In [ ]:
...